@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

html {
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.perspective-2000 {
  perspective: 2000px;
}

@keyframes floatingCard {
  0%, 100% {
    transform: rotateX(15deg) rotateY(25deg) translateY(0);
  }
  50% {
    transform: rotateX(15deg) rotateY(25deg) translateY(-20px);
  }
}

@keyframes floatingPhone {
  0%, 100% {
    transform: rotateX(-15deg) rotateY(-15deg) translateY(0);
  }
  50% {
    transform: rotateX(-15deg) rotateY(-15deg) translateY(-20px);
  }
}

.transform-gpu {
  transform: translate3d(0, 0, 0);
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  animation: marquee 30s linear infinite; /* Adjust duration as needed */
}

.marquee-item {
  display: inline-block;
  padding-right: 2rem; /* Adjust spacing between logos */
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

/* Styles for the TestPage visualization */
#networkCanvas {
  
}

.test-page-container {
  @apply flex justify-center items-center;
  width: 100%; /* Ensure container takes full width */
  height: 100vh; /* Ensure container takes full height */
}

/* Styles for the Circuit Logo */
.logo {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circuit-logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.brain {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #3498db;
  margin-right: 5px;
}

.brain .wire {
  position: absolute;
  background-color: #3498db;
  height: 2px;
}

.brain .wire:nth-child(1) {
  top: 5px;
  left: -10px;
  width: 10px;
}

.brain .wire:nth-child(2) {
  top: 15px;
  left: -10px;
  width: 10px;
}

.brain .wire:nth-child(3) {
  top: 25px;
  left: -10px;
  width: 10px;
}

.solaira-logo {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #3498db, #2ecc71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
